.contact {
    display: flex;
    flex-direction: column;
    row-gap: 44px;

    &__wrapper {
        margin: 0 auto;
        display: flex;
        column-gap: 60px;
        margin-top: 30px;
    }

    &__left {
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        width: 760px;
        padding: 15px 20px;
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
    }

    &__bottom-left {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-top: 13px;
    }

    &__adress {
        font-size: 15px;
        line-height: 18px;
        color: #000000;
    }

    &__text {
        font-size: 13px;
        line-height: 16px;
        color: #838383;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__item {
        width: 97px;
        height: 97px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            min-width: 39px;
            min-height: 39px;
        }
    }

    &__bottom {
        width: 920px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        column-gap: 28px;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        color: #000000;
    }

    &__link-h {
        display: none;
    }

    &__btn-home {
        display: none;
    }
}

@media only screen and (max-width: 966px) {
    .contact {
        row-gap: 20px;
        &__wrapper {
            flex-direction: column;
            column-gap: 0;
            row-gap: 20px;
            margin-top: 15px;
        }

        &__left {
            width: 775px;
            overflow-x: hidden;
        }

        &__title {
            font-size: 15px;
            line-height: 18px;
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 20px;
        }


        &__item {
            width: 169px;
            height: 160px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                min-width: 68px;
                min-height: 65px;
            }
        }

        &__bottom {
            width: 375px;
            column-gap: 28px;
            font-size: 20px;
            line-height: 24px;
            justify-content: center;
            margin-bottom: 30px;
        }

        &__link-h {
            display: flex;
            justify-content: center;
            background: #101010;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        &__btn-home {
            background: inherit;
            font-size: 17px;
            line-height: 21px;
            color: #FFFFFF;
            padding: 22px 0;
            border: none;
            display: block;
        }
    }
}
@media only screen and (max-width: 812px) {
    .contact {
       
        &__left {
            width: 635px;
        }
        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
        }
    }
}
@media only screen and (max-width: 658px) {
    .contact {
       
        &__left {
            width: 535px;
            margin:  0 auto;
        }
    }
}
@media only screen and (max-width: 658px) {
    .contact {
       
        &__left {
            width: 435px;
            margin:  0 auto;
        }
    }
}
@media only screen and (max-width: 428px) {
    .contact {
        row-gap: 20px;


        &__wrapper {
            flex-direction: column;
            column-gap: 0;
            row-gap: 20px;
            margin-top: 15px;
        }

        &__left {
            width: 375px;
            overflow-x: hidden;
        }

        &__title {
            font-size: 15px;
            line-height: 18px;
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 20px;
        }


        &__item {
            width: 169px;
            height: 160px;
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                min-width: 68px;
                min-height: 65px;
            }
        }

        &__bottom {
            width: 375px;
            column-gap: 28px;
            font-size: 20px;
            line-height: 24px;
            justify-content: center;
            margin-bottom: 30px;
        }

        &__link-h {
            display: flex;
            justify-content: center;
            background: #101010;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        &__btn-home {
            background: inherit;
            font-size: 17px;
            line-height: 21px;
            color: #FFFFFF;
            padding: 22px 0;
            border: none;
            display: block;
        }
    }
}