.service {
    margin-top: 40px;

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 33px;
    }

    &__item {
        padding: 15px 30px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }

    &__title {
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
    }

    &__text {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        color: #000000;
        margin: 15px 0 0 14px;
    }

    &__link-h {
        display: none;
        justify-content: center;
        background: #101010;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    &__btn-home {
        background: inherit;
        font-size: 17px;
        line-height: 21px;
        color: #FFFFFF;
        padding: 22px 0;
        border: none;
        display: none;
    }
}

@media only screen and (max-width: 428px) {
    .service {

        &__list {
            margin-bottom: 30px;
        }

        &__link-h {
            display: flex;
        }

        &__btn-home {
            display: block;
        }
    }
}