.head {
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__inner {
        display: flex;
        align-items: center;
        column-gap: 75px;
    }

    &__navlink {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__list {
        position: relative;

        &::after {
            position: absolute;
            content: url(../../../public/bottom.svg);
            top: -2px;
            right: -15px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
    }

    &__icon {
        padding: 20px;
        position: relative;

        .icon {
            &__text {
                position: absolute;
                width: 17.5px;
                height: 17.5px;
                background: #FFA542;
                top: 12px;
                right: 12px;
                text-align: center;
                border-radius: 50%;
                color: #FFFFFF;
            }
        }
    }

    &__item {
        // position: absolute;
        display: flex;
        flex-direction: column;
    }

    &__menu {
        display: none;
    }
}

.h {
    position: absolute;
}

@media only screen and (max-width: 720px) {
    .head {
        &__navlink {
            display: none;
        }


        &__right {
            display: flex;
            align-items: center;
        }

        &__icon {
            .like {
                display: none;
            }
        }

        &__menu {
            display: block;
            margin-left: 44px;
        }

    }

}