.single {
    margin-top: 20px;


    &__category {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #838383;
        margin-bottom: 20px;
    }

    &__card {
        width: 100%;
        height: 668px;
        position: relative;
        padding: 20px 24px 27px 24px;

        .card {

            &__like {
                position: absolute;
                top: 20px;
                left: 24px;
            }

            &__image {
                width: 80%;
                height: 80%;
                display: block;
                margin: 0 auto;
            }

            &__bottom {
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &__title {
                font-weight: 600;
                font-size: 25px;
                line-height: 30px;
                width: 70%;
                white-space: unset;
            }

            &__sp {
                font-weight: 600;
                font-size: 28px;
                line-height: 34px;
                color: #DF6464;
                width: 30%;
            }
        }
    }

    &__discription {
        display: flex;
        align-items: flex-start;
        margin-top: 23px;
        column-gap: 30px;

        .discription {

            &__btn {
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                min-width: 824px;
                padding: 20px 0 20px 22px;
                border: none;
                text-align: left;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                z-index: 9;
                position: relative;
            }

            &__list {
                background: #F9F9F9;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
                width: 824px;
                padding: 44px 22px 24px 22px;
                transform: translateY(-20px);
            }

            &__right {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
            }

            &__bottom {
                display: none
            }

            &__buy {
                background: #101010;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                padding: 14px 87px;
                color: #FFFFFF;
            }

            &__basket {
                display: flex;
                align-items: center;
                column-gap: 10px;
                background: #101010;
                box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                padding: 10px 16px;
                color: #FFFFFF;
            }
        }
    }
}

@media only screen and (max-width:1110px) {
    .single {
        &__discription {
            justify-content: space-between;

            .discription {

                &__btn {
                    min-width: 700px;
                }

                &__list {
                    width: 700px;
                }
            }
        }
    }
}

@media only screen and (max-width:980px) {
    .single {
        &__discription {

            .discription {

                &__btn {
                    min-width: 580px;
                }

                &__list {
                    width: 580px;
                }
            }
        }
    }
}

@media only screen and (max-width:868px) {
    .single {
        &__discription {

            .discription {

                &__btn {
                    min-width: 480px;
                }

                &__list {
                    width: 480px;
                }
            }
        }
    }
}

@media only screen and (max-width:720px) {
    .single {
        margin-top: 6px;

        &__category {
            font-size: 17px;
            line-height: 21px;
        }

        &__card {
            height: 405px;
            padding: 12px 12px 22px 20px;

            .card {
                &__image {
                    height: 70%;
                }

                &__bottom {
                    margin-top: 30px;
                }

                &__title {
                    font-size: 17px;
                    line-height: 21px;
                }

                &__sp {
                    font-size: 17px;
                    line-height: 21px;
                }
            }
        }

        &__discription {
            display: flex;
            flex-direction: column;
            height: 37vh;

            .discription {

                &__btn {
                    min-width: 0;
                    width: 475px;
                    font-size: 17px;
                    line-height: 21px;
                }

                &__list {
                    max-width: 375px;
                }

                &__right {
                    display: none;
                }

                &__bottom {
                    margin-top: auto;
                    display: flex;
                    column-gap: 17px;
                    margin: 0 auto;

                    .bottom {

                        &__basket {
                            padding: 22px;
                            background: #101010;
                            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                            border-radius: 15px;
                            border: none;
                            flex-grow: 1;
                        }

                        &__cart {
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 18px;
                            color: #FFFFFF;
                            border: none;
                            min-width: 210px;
                            width: 100%;
                            background: inherit;
                        }

                        &__link-cart {
                            background: #101010;
                            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                            border-radius: 15px;
                            padding: 27px 0;
                        }

                        &__link {
                            background: #43D854;
                            box-shadow: 0px 0px 20px rgba(67, 216, 84, 0.25);
                            border-radius: 15px;
                            padding: 12px 18px 18px 18px;
                            border: none;
                            text-align: center;

                            img {
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:506px) {
    .single {
        margin-top: 6px;

        &__category {
            font-size: 17px;
            line-height: 21px;
        }

        &__card {
            height: 405px;
            padding: 12px 12px 22px 20px;

            .card {
                &__image {
                    height: 70%;
                }

                &__bottom {
                    margin-top: 30px;
                }

                &__title {
                    font-size: 17px;
                    line-height: 21px;
                }

                &__sp {
                    font-size: 17px;
                    line-height: 21px;
                }
            }
        }

        &__discription {
            display: flex;
            flex-direction: column;
            height: 37vh;

            .discription {

                &__btn {
                    min-width: 0;
                    width: 255px;
                    font-size: 17px;
                    line-height: 21px;
                }

                &__list {
                    max-width: 255px;
                }

                &__right {
                    display: none;
                }

                &__bottom {
                    margin-top: auto;
                    display: flex;
                    column-gap: 17px;
                    margin: 0 auto;

                    .bottom {

                        &__basket {
                            padding: 22px;
                            background: #101010;
                            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                            border-radius: 15px;
                            border: none;
                            flex-grow: 1;
                        }

                        &__cart {
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 18px;
                            color: #FFFFFF;
                            border: none;
                            min-width: 0;
                            padding: 0 22px;
                            background: inherit;
                        }

                        &__link-cart {
                            background: #101010;
                            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                            border-radius: 15px;
                            padding: 27px 10px;
                        }

                        &__link {
                            background: #43D854;
                            box-shadow: 0px 0px 20px rgba(67, 216, 84, 0.25);
                            border-radius: 15px;
                            padding: 12px 18px 18px 18px;
                            border: none;
                            text-align: center;

                            img {
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

