* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  background: #EAEAEA;
  color: #1C1C27;
  min-height: 100vh;
}


ul, li, a {
  text-decoration: none;
  list-style-type: none;
}

@media only screen and (max-width: 428px) {
  .container {
    padding: 0 26px;
  }
}